@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .header {
        padding-top: -60px;
        flex-direction: column;
        text-align: center;
        height: 230px;
    }
    .headermain h1{
        font-size: 18px;
    }
    .p1{
        margin-top: 10px;
        font-size: 24px;
    }
    .p2{
        font-size: 17px;
    }

    .guide h1{
        font-size: 22px;
    }

    .dh1{
        margin-bottom: -10px;
    }
    .event{
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9);
    }

    .img1, .img2 {
        display: none;
        width: 80px;
        height: auto;
    }
    .guide{
    margin-top: -40px;
}

.guide li{
    font-size: small;
    text-align: left;
    margin-left: -20px;
}

.guide h1{
    font-size: large;
    text-align: left;
    margin-left: -10px;
}
    .home img {
        margin-left: 10px;
        width: 90%;
        height: auto;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9);
    }

    .guide{
        text-align: center;
        margin-right: 50px;
    }

    .event1,.event2,.event3,.event4,.event5,.event6{
        margin-left: 10px;
    }

    .footer{
        padding-top: 15px;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);

    }

    .foot1 , .foot2 , .foot3{
        text-align: center;
    }
    .foot3 h2{
        margin-top: 12px;
    }
}


@media screen and (max-width: 768px) {
    .home1 h1, .home1 h2 {
        font-size: 18px;
    }

    .header{
        padding-right: 10px;
    }

    .home img{
        width: 90%;
    }

    .event {
        width: 100%;
        margin-bottom: 20px;
    }
    .img1 , .img2{
        display: none;
    }
    .footer{
        padding-right: 11px;
        text-align: left;
    }
}


@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }
    .day{
        flex-wrap: nowrap;
    }
}
